.header{position:absolute;top:0;left:0;width:100%;background-color:var(--eerie-black-1);padding-block:15px;z-index:4;}
.header.active{position:fixed;top:-66px;background-color:var(--white);border-block-start:1px solid var(--cultured);box-shadow:var(--shadow-1);animation:slideIn 0.25s var(--cubic-out) forwards;}
@keyframes slideIn{0%{transform:translateY(0);background-color:var(--white);}100%{transform:translateY(100%);background-color:var(--eerie-black-2);}}
.header>.container{display:flex;justify-content:space-between;align-items:center;gap:10px;}
.logo{color:var(--white);font-size:2.5rem;font-weight:var(--fw-700);display:flex;align-items:center;gap:5px;}
.nav-toggle-btn .line{width:26px;height:3px;background-color:var(--white);transition:var(--transition-1);}
.nav-toggle-btn .line:not(:last-child){margin-block-end:4px;}
.nav-toggle-btn{padding:8px 5px;margin-inline-start:auto;}
.nav-toggle-btn.active .line-1{transform:rotate(45deg) translate(5px,6px);}
.nav-toggle-btn.active .line-2{opacity:0;}
.nav-toggle-btn.active .line-3{transform:rotate(-45deg) translate(4px,-5px);}
.navbar{position:absolute;top:100%;left:0;width:100%;height:100vh;background-color:var(--eerie-black-1);max-height:0;overflow:hidden;visibility:hidden;transition:0.25s var(--cubic-out);}
.navbar.active{max-height:calc(100vh - 63px);visibility:visible;transition-duration:0.5s;}
.navbar-item:not(:last-child){border-block-end:1px solid var(--white_30);}
.navbar-link{color:var(--white);font-weight:var(--fw-700);padding:12px 30px;transition:var(--transition-1);}
.navbar-link:is(:hover,:focus,.active){color:var(--blue-crayola);}
.header{padding-block:5px;}
.header.active{top:-60px;}
.header>.container{gap:50px;}
.nav-toggle-btn{display:none;}
.navbar,.navbar.active{all:unset;margin-inline-end:auto;}
.navbar-list{display:flex;align-items:center;}
.navbar-item:not(:last-child){border-block-end:none;}
.navbar-link{font-size:var(--fs-7);padding:15px 12px;}
.navbar-link:is(:hover,:focus,.active){background-color:var(--blue-crayola);color:var(--white);}
.header.active{top:-64px;}
.navbar-link{font-size:unset;}
